<!-- app/views/notes/index.html.erb -->

<h1 class="bg-black text-white text-center m-5 p-10 rounded-md">Todas as Notas</h1>

<div class="flex flex-wrap">
  <% @notes.each do |note| %>
    <div class="box-content h-32 w-32 p-4 border-4 m-2 rounded-md">
      <h5 class=" bg-black text-white">
            <%= link_to note.title, note %>
          </h5>
          <%= note.content %>
          <%= link_to 'Editar', edit_note_path(note) %> |
            <%= link_to 'Excluir', note, method: :delete, data: { confirm: 'Tem certeza?' } %>
          </p>
        </div>
    <% end %>
</div>

<hr>

<button class="text-center m-5 bg-black text-white rounded-md p-5 m-20">
  <%= link_to 'Nova Nota', new_note_path %>
</button>
